<body>
  <style>
    body {background-color: #2c2f33;}

    h2 {
      color: #FFFFFF;
    }

    h4 {
      color: #FFFFFF;
    }

    attributes {
      padding-left: 10px;
    }
    
  </style>
</body>


<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>Title: </h4>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <h4>Rating: </h4>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <h4>Hours Played: </h4>
    <%= form.number_field :hours %>
  </div>

  <div class="field">
    <h4>Review: </h4>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>

