<head>

  <style>
    body {background-color: #2c2f33;}

    h1 {
      font-size: 30px;
      text-align: center;
      color: #FFFFFF;
    }

    h2 {
      font-size: 20px;
      text-align: center;
      color: #FFFFFF;
    }

    .col {
        position: relative;
    	}
    
    .row {
      position: relative;
      padding-left: 30px;
      padding-right: 30px;
    }

  </style>
</head>

<!-- This is the section showing the attributes -->
<br>

<!-- A container to dynamically create the list with styling -->
    <div class="container-fluid" style="color: #FFFFFF";>
      <div class="row rounded" style="border: solid 4px #FFFFFF;">

          <div class="col"><h1>Title</h1></div>
          <div class="col"><h1>Rating</h1></div>
          <div class="col"><h1>Hours</h1></div>
          <div class="col"><h1>Review</h1></div>
          
          
          <!-- The 3 empty cols are here so spacing is consistant. -->

          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>

      </div>

      <br>
  
  <!-- This is the actual list of items within the database -->
  <h2>
    <% @games.each do |game| %>
      <div class="row">
      <div class="col"><%= game.title %></div>
      <div class="col"><%= game.rating %></div>
      <div class="col"><%= game.hours %></div>
      <div class="col"><%= game.review %></div>

      <div class="col">
        <%= link_to 'Show', game, :method => :get, class: "btn text-white", style: "background-color: #0074e6;" %>
      </div>

      <div class="col">
        <%= link_to 'Edit', edit_game_path(game), :method => :get, class: "btn text-white", style: "background-color: #2546f0"%>
      </div>

      <div class="col">
        <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-white"%>
      </div>

      </div>
      
      <br>

    <% end %>
    
    </h2>

      </div>
    </div>
  </div>



<br>

<!-- Bootstrap button that takes user to new game page -->
<%= link_to 'New Game', new_game_path, :method => :get, class: "btn btn-secondary text-white"%>
