<head>
  <style>
    body {background-color: #2c2f33;}

    h2 {
      color: #FFFFFF;
      font-size: 30px;
      padding-left: 10px;
    }
  </style>
</head>

<!-- This is the notice if the action was successful or failed -->
<br>

<h2>
  <%= @game.title %>
</h2>

<h2>
  <%= @game.rating %>
  <strong>/ 10</strong>
</h2>

<h2>
  <strong>Hours Played:</strong>
  <%= @game.hours %>
</h2>

<h2>
  <strong>Review:</strong>
  <%= @game.review %>
</h2>

<br>

<%= link_to 'Edit', edit_game_path(@game), class: "btn text-white", style: "background-color: #2546f0;" %> |
<%= link_to 'Back', games_path, class: "btn btn-secondary text-white" %>
